@p: #212738;
@s: #F97068;
@t: #EDF2EF;
@c: #57C4E5;
@f: #fff;
@g: #00cf00;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	background-color: @t;
}
.sombra {box-shadow: 0px 2px 5px 0px fade(@p, 40);}
.form-group {
	display: block;
	width: 100%;
	text-align: left;
	margin: 5px auto;
	label {
		display: block;
		margin-top: 5px;
	}
	input {
		width: 100%;
		display: block;
		text-align: left;
		background-color: @t;
		border: none;
		padding: 10px 14px;
	}
	input[type="checkbox"], input[type="color"] {
		display: inline-block;
		width: 20px;
		height: 22px;
		vertical-align: middle;
		margin-right: 7px;
		padding: 0;
	}
}
.btn {
	display: inline-block;
	background-color: @p;
	color: @f;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 7px 15px;
	border-radius: 5px;
}
.columns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&>div {
		flex: 1;
		&:first-child {
			margin-right: 10px;
		}
	} 
}
.ancho {
	display: block;
	width: 98%;
	max-width: 1400px;
	margin: 0 auto;
}
.proporcional(@ancho, @alto) {
	@porcentaje : @alto * 100 / @ancho;
	position: relative;
	overflow: hidden;
	&::before {
		content: '';
		display: block;
		padding-top: ~"@{porcentaje}%";
	}
	> img, > video, > a img, > a video{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 0;
		z-index: 10;
		object-fit: cover;
		object-position: center;
		transform: translateY(-50%);
	}
}
[class^="icon-"], [class*=" icon-"] {
  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
ul.notifications {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: block;
  z-index: 1000000;
  list-style: none;
  .success {background-color: #00bd00;}
  .danger {background-color: #e13f3f;}
  .info {background-color: #208697;}
  .default {background-color: #000000;}
  div {
  	display: block;
  	width: fit-content;
  	
  	border-radius: 3px;
  	padding: 10px 15px;
  	margin-top: 10px;
  	margin-left: auto;
  	animation: opacity 0.3s ease-out;
  	p {
  		margin-right: 10px;
  		color: #fff;
  		display: inline-block;
  		margin-bottom: 0;
  	}
  	a {
  		&::before {
  			filter: invert(100%);
  			margin-right: 0;
  		}
  	}
  }
}
.nothing {
	font-size: 3.5rem;
	font-weight: 700;
	opacity: 0.5;
	color: #bbb;
}
@keyframes loader {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	span {
		display: block;
		font-size: 1.5rem;
		text-align: center;
		&::before {
			content: '';
			display: block;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border-top: 2px solid #111;
			border-left: 2px solid #111;
			border-right: 2px solid #111;
			border-bottom: 2px solid transparent;
			margin: 10px auto;
			animation: loader 0.4s linear infinite;
		}
	}
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	.cerrar {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-color: rgba(234,234,234,0.2);
		backdrop-filter: blur(2px);
	}
	.body-modal {
		display: block;
		max-width: 700px;
		min-width: 290px;
		background-color: #eaeaea;
		box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 50%);
		padding: 25px;
		position: relative;
		z-index: 2;
		text-align: left;
		textarea {
			display: block;
			width: 100%;
			padding: 10px;
			border: none;
			outline: none;
			margin-top: 10px;
			background-color: #eaeaea;
		}
		.input-buscar {
			display: block;
			width: 100%;
			padding: 10px;
			font-size: 1.3rem;
			background-color: #fff;
			color: #111;
			border: 2px solid;
			border-radius: 7px;
			margin-bottom: 15px;
			box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 50%);
		}
		.container-results.loader {
			&::before {
				content: '';
				display: block;
				width: 15px;
				height: 15px;
				border-radius: 50%;
				border-top: 2px solid #111;
				border-left: 2px solid #111;
				border-right: 2px solid #111;
				border-bottom: 2px solid transparent;
				margin: 5px auto;
				animation: loader 0.4s linear infinite;
			}
		}
		.container-results {
			display: block;
			width: 100%;
			min-width: 300px;
			max-height: 60vh;
			overflow: auto;
			position: relative;
			&:hover {
				&::-webkit-scrollbar-thumb {
					background-color: @p;
				}	
			}
			&::-webkit-scrollbar {
				width: 8px;
				cursor: pointer;
			}
			&::-webkit-scrollbar-track {
				background-color: @f;
			} 
			&::-webkit-scrollbar-thumb {
				background-color: transparent;
				border: 2px solid @f;
				border-radius: 5px;
			}
		}
		.history {
			display: block;
			text-align: left;
			padding-bottom: 10px;
			border-bottom: 1px solid #bbb;
			margin-bottom: 10px;
			max-width: 450px;
			span {
				display: block;
				font-size: 1rem;
				color: #111;
			}
			a {
				display: inline-block;
				vertical-align: middle;
				background-color: #fff;
				font-size: 0.9rem;
				padding: 4px 7px;
				border-radius: 15px;
				text-decoration: none;
				color: #111;
				margin: 5px;
				border: 1px solid; 
			}
		}
		.results {
			list-style: none;
			display: block;
			width: 95%;
			margin: 0 auto;
			text-align: left;
			li {
				display: block;
				margin-bottom: 5px;
				span {
					color: #111;
					font-size: 1.1rem;
					display: block;
					width: 100%;
					padding-top: 7px;
					padding-bottom: 5px;
				}
				ul {
					padding-left: 10px;
					a {
						margin-bottom: 5px;
					}
				}
				a {
					background-color: #fff;
					color: #111;
					padding: 7px 10px;
					display: block;
					width: 100%;
					text-decoration: none;
					border-radius: 4px;
					font-size: 1.2rem;
					border-left: 4px solid;
					transition: all 0.2s;
					&:hover {
						transform: scale(1.02);
						font-weight: 600;
					}
					&:active {
						transform: scale(0.98);	
					}
				}
			}
		}
		.btns {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px solid #bbb;
			a {
				display: inline-block;
				background-color: #111;
				color: #fff;
				padding: 4px 10px;
				border-radius: 15px;
				text-decoration: none;
			}
		}
	}
}
.icon-text::before {background-image: url('../img/text.svg');}
.icon-gallery::before {background-image: url('../img/gallery.svg');}
.icon-video::before {background-image: url('../img/video.svg');}
.icon-code::before {background-image: url('../img/code.svg');}
.icon-close::before {background-image: url('../img/close.svg');}
.icon-logout::before {background-image: url('../img/logout.svg');}
.icon-save::before {background-image: url('../img/save.svg');}
.icon-item::before{background-image: url('../img/item.svg');}
.icon-menu::before{background-image: url('../img/menu.svg');}
.icon-subitem::before{background-image: url('../img/subitem.svg');}
.icon-settings::before{background-image: url('../img/settings.svg');}
.icon-up::before{background-image: url('../img/up.svg');}
.icon-down::before{background-image: url('../img/down.svg');}
.icon-edit::before{background-image: url('../img/edit.svg');}
.icon-trash::before{background-image: url('../img/trash.svg');}
@import 'install.less';
@import 'layout.less';
